/*Apply this class to some text to unlock the secrets of the third dimension!*/
.callia{
font-family: 'Pinyon Script', arial, cursive;
line-height: 1em;
color: #fff9d6;
font-weight:bold;
font-size: 60px;
text-shadow:0px 0px 0 rgb(202,202,202),1px 1px 0 rgb(191,191,191),2px 2px 0 rgb(180,180,180),3px 3px 0 rgb(170,170,170),4px 4px 0 rgb(159,159,159),5px 5px 0 rgb(148,148,148),6px 6px 0 rgb(137,137,137),7px 7px 0 rgb(126,126,126), 8px 8px 0 rgb(115,115,115),9px 9px 8px rgba(0,0,0,0.6),9px 9px 1px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,.2);}

.ui-widget, .ui-widget, .ui-widget
{
    font-size: 80%;
}