<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition  template="/seguro/layout.xhtml"> 
            <ui:define name="content">
                <h:form>
                    <p:accordionPanel>
                        <p:tab title="Conceptos Básicos">
                            <p:tabView orientation="left" >
                                <p:tab title="¿Qué son Tickets?">
                                    <h:panelGrid cellpadding="10">
                                        <h:outputText 
                                            value="Los tickets, también llamados, incidentes o issues, son tareas que se deben atender dentro de un proyecto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id tempus dolor. Vivamus ullamcorper ultricies nulla, eget gravida mauris finibus non. Cras faucibus mi finibus, semper sapien vel, malesuada sem. Nam sapien est, porttitor ac dui vitae, eleifend ornare sem. Cras orci nisi, placerat eget interdum in, malesuada ac orci. Proin ultrices, turpis sit amet feugiat ornare, urna urna efficitur tortor, eget tincidunt nibh sapien ac turpis. Morbi pretium sapien ut condimentum rhoncus. Morbi at justo faucibus, iaculis enim efficitur, mollis nisl. Nullam tempor nec sem sed ornare. Sed pellentesque nisl mollis risus egestas sollicitudin. Phasellus augue purus, hendrerit non suscipit quis, sollicitudin nec est." />
                                    </h:panelGrid>
                                </p:tab>
                                <p:tab title="¿Qué es un sistema de administración de incidentes?">
                                    <h:panelGrid cellpadding="10">
                                        <h:outputText
                                            value="Un sistema de seguimiento de incidentes (denominado en inglés como issue tracking system, trouble ticket system o incident ticket system) es un paquete de software que administra listas de incidentes. Proin tincidunt ut elit at consequat. Mauris a erat sed augue pellentesque blandit. In at arcu lorem. Aliquam vel lorem consequat, luctus felis a, viverra eros. Aliquam a lacus vitae ex sodales imperdiet. Nulla neque massa, molestie non sagittis at, volutpat posuere est. Morbi eu est ex. Suspendisse ultricies pharetra diam a facilisis. Fusce vitae molestie metus. Sed nec convallis magna. Mauris enim lorem, finibus in lacinia in, feugiat sit amet nisl. Quisque vehicula fringilla porttitor. Duis porta ipsum mollis enim egestas sagittis. In lobortis velit in nisi hendrerit bibendum quis nec nunc." />
                                    </h:panelGrid>
                                </p:tab>
                            </p:tabView>
                        </p:tab>
                        <p:tab title="Callia">
                            <p:tabView orientation="left" >
                                <p:tab title="¿Qué es Callia?">
                                    <h:panelGrid cellpadding="10">
                                        <h:outputText value="Callia es un sistema de administración de tickets. Sed imperdiet rutrum magna, vitae posuere mi aliquam id. Pellentesque felis leo, pellentesque et imperdiet quis, condimentum a magna. Etiam malesuada eleifend nulla, sit amet tempor justo maximus vitae. Vestibulum aliquam et ipsum quis accumsan. Duis eleifend augue orci. Sed vitae est leo. Vestibulum malesuada nisi mi, quis ornare orci hendrerit sit amet. In in blandit dui. Ut mollis ante urna, nec condimentum lacus iaculis et. Duis fermentum, sapien ut aliquet laoreet, diam sapien consequat nibh, at lobortis lacus libero id elit." />
                                    </h:panelGrid>
                                </p:tab>
                                <p:tab title="¿Para que puedo utilizar Callia?">
                                    <h:panelGrid cellpadding="10">
                                        <h:outputText
                                            value="Callia permite la administración de tareas, por lo tanto puede ser util para individales, pequeños grupos y grupos amplios de personas que trabajen en uno o múltiples proyectos. Donec euismod odio id egestas faucibus. Donec pharetra, velit eget fringilla molestie, metus arcu sodales ipsum, vitae gravida nulla magna sit amet nunc. Donec vitae elit in turpis ullamcorper placerat aliquet ullamcorper massa. In viverra erat non enim ultricies scelerisque. Nullam ac venenatis ipsum, sit amet pellentesque est. Vestibulum elementum tincidunt sodales. Vivamus congue vitae dolor non molestie. Maecenas nec metus eleifend, auctor ex vitae, pretium purus. Mauris consectetur a elit ac commodo. Vivamus euismod laoreet faucibus. Suspendisse sit amet rutrum quam. Vestibulum lorem tortor, lobortis nec metus tempor, ultrices bibendum urna. Integer eget interdum elit. Phasellus eget ex sollicitudin, luctus ante quis, bibendum est." />
                                    </h:panelGrid>
                                </p:tab>
                            </p:tabView>
                        </p:tab>
                    </p:accordionPanel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

