<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition  template="/seguro/layout.xhtml"> 
            <ui:define name="content">
                <h:form>
                    <p:panel header="#{mensaje.configuracion}">
                        <p:messages autoUpdate="true"/>
                        <h:panelGrid id="grid" columns="2" cellpadding="5">
                            <h:outputText value="#{mensaje.idioma}" style="font-weight:bold"/>
                            <h:selectOneMenu value="#{localizacion.locale}" onchange="submit()"  
                                             valueChangeListener="#{localizacion.localeChanged}">
                                <f:selectItems value="#{localizacion.countries}"  />
                            </h:selectOneMenu>
                        </h:panelGrid>
                    </p:panel>
                </h:form>
            </ui:define>  
        </ui:composition>
    </h:body>
</html>

