<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition  template="/seguro/layout.xhtml"> 
            <ui:define name="content">
                <div id="login">
                    <h:form id="crear-ticket-form">
                        <p:panel header="#{mensaje.nuevoticket}">
                            <h:panelGrid id="grid" columns="3" cellpadding="5">

                                <h:outputText value="#{mensaje.title}" style="font-weight:bold"/>
                                <p:inputText value="#{ticketController.titulo}" id="titulo" validator="#{ticketController.validarNoVacio}"/>
                                <p:message for="titulo" />

                                <h:outputText value="#{mensaje.tipo}" style="font-weight:bold"/>
                                <p:selectOneButton id="tipo" value="#{ticketController.tipo}" validator="#{ticketController.validarNoVacio}">
                                    <f:selectItem itemLabel="Tarea" itemValue="Tarea" />
                                    <f:selectItem itemLabel="Mejora" itemValue="Mejora" />
                                    <f:selectItem itemLabel="Propuesta" itemValue="Propuesta" />
                                    <f:selectItem itemLabel="Error" itemValue="Error" />
                                </p:selectOneButton>
                                <p:message for="tipo" />
                                
                                <h:outputText value="#{mensaje.prioridad}" style="font-weight:bold"/>
                                <p:selectOneButton id="prioridad" value="#{ticketController.prioridad}" validator="#{ticketController.validarNoVacio}">
                                    <f:selectItem itemLabel="Trivial" itemValue="Trivial" />
                                    <f:selectItem itemLabel="Menor" itemValue="Menor" />
                                    <f:selectItem itemLabel="Mayor" itemValue="Mayor" />
                                    <f:selectItem itemLabel="Crítica" itemValue="Crítica" />
                                </p:selectOneButton>
                                <p:message for="prioridad" />

                                <h:outputLabel value="#{mensaje.descripcion}" style="font-weight:bold"/>
                                <p:inputTextarea value="#{ticketController.descripcion}" id="descripcion" validator="#{ticketController.validarNoVacio}" />
                                <p:message for="descripcion" />
                            </h:panelGrid>
                            <h:commandButton id="button" value="Crear" action="#{ticketController.crearticket}"/>
                        </p:panel>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

