<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition  template="/seguro/layout.xhtml"> 
            <ui:define name="content">
               <h:form>
                    <p:panelGrid style="margin-top:20px">
                        <f:facet name="header">
                            <p:row>
                                <p:column colspan="3">#{mensaje.creditos}</p:column>
                            </p:row>
                        </f:facet>
                        <p:row>
                            <p:column style="font-weight: bold;" rowspan="2">Desarrollo</p:column>
                            <p:column colspan="2">Laura Torres</p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="2">Héctor Guzmán</p:column>
                        </p:row>
                        <p:row>
                            <p:column style="font-weight: bold;" rowspan="6">Sitios web consultados</p:column>
                            <p:column>Manejo de sesiones</p:column>
                            <p:column>
                                <a href="http://www.itcuties.com/j2ee/jsf-2-login-filter-example/" target="_blank">itcuties.com</a>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>Base de Datos</p:column>
                            <p:column>
                                <a href="http://www.db4o.com/about/productinformation/resources/db4o-6.3-tutorial-java.pdf" target="_blank">Tutorial DB4O</a>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>Validadares JSF</p:column>
                            <p:column>
                                <a href="http://chuwiki.chuidiang.org/index.php?title=Validar_campos_de_formularios_con_JSF" target="_blank">chuidiang.org</a>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>PrimeFaces</p:column>
                            <p:column>
                                <a href="http://www.primefaces.org/showcase/index.xhtml" target="_blank">primefaces.org</a>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>Formatear Fechas</p:column>
                            <p:column>
                                <a href="http://www.aprendiendojava.com.ar/index.php?topic=55.0" target="_blank">aprendiendojava.com.ar</a>
                             </p:column>
                        </p:row>
                        <p:row>
                            <p:column>Íconos</p:column>
                            <p:column>
                                <a href="http://api.jqueryui.com/theming/icons/" target="_blank">Íconos JQuery</a>
                             </p:column>
                        </p:row>
                    </p:panelGrid>
                </h:form>
            </ui:define>
      </ui:composition>
    </h:body>
</html>

