<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:body>
        <ui:composition  template="/seguro/layout.xhtml"> 
            <ui:define name="content">
                <br />
                <h:form id="crear-ticket">
                    <p:commandButton action="#{navegacionController.crearticket}" value="#{mensaje.nuevoticket}" />
                </h:form>
                <br />
                <h:form id="form">
                    <p:dataTable var="ticket" value="#{ticketController.tickets}" rows="10" id="ticketTable"
                                 paginator="true" selection="#{ticketController.selectedTicket}" rowKey="#{ticket.codigo}"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,20,50">

                        <p:ajax event="rowSelect" update=":form:ticketDetail" oncomplete="PF('ticketDialog').show()" />
                        <p:column selectionMode="single" style="width:16px;text-align:center" rendered="#{ticket.fechaCierre ==null}"/>


                        <p:column style="width:16px;text-align:center" rendered="#{ticket.fechaCierre !=null}">
                            <p:commandButton update=":form:ticketDetail" oncomplete="PF('ticketDialog').show()" icon="ui-icon-search" title="Visualizar">
                                <f:setPropertyActionListener value="#{ticket}" target="#{ticketController.selectedTicket}" />
                            </p:commandButton>
                        </p:column>

                        <p:column headerText="#{mensaje.codigo}" sortBy="#{ticket.codigo}" filterBy="#{ticket.codigo}">
                            <h:outputText value="#{ticket.codigo}" />
                        </p:column>

                        <p:column headerText="#{mensaje.title}" sortBy="#{ticket.titulo}" filterBy="#{ticket.titulo}">
                            <h:outputText value="#{ticket.titulo}" />
                        </p:column>

                        <p:column headerText="#{mensaje.tipo}" sortBy="#{ticket.tipo}" filterBy="#{ticket.titulo}">
                            <h:outputText value="#{ticket.tipo}" />
                        </p:column>

                        <p:column headerText="#{mensaje.prioridad}" sortBy="#{ticket.prioridad}" filterBy="#{ticket.titulo}">
                            <h:outputText value="#{ticket.prioridad}" />
                        </p:column>

                        <p:column headerText="#{mensaje.creador}" sortBy="#{ticket.creador}">
                            <h:outputText value="#{ticket.creador}" />
                        </p:column>

                        <p:column headerText="#{mensaje.startdate}" sortBy="#{ticket.fechaApertura}">
                            <h:outputText value="#{ticket.fechaAperturaDDMMYYYY}" />
                        </p:column>

                        <f:facet name="footer">
                            <p:commandButton style="display: inline" process="ticketTable" update=":form:ticketDetail" icon="ui-icon-search" value="Visualizar" oncomplete="PF('ticketDialog').show()" />
                            <p:commandButton style="display: inline" process="ticketTable" update=":form:ticketAddComment" icon="ui-icon-comment" value="Comentar" oncomplete="PF('addComentDialog').show()" />
                            <p:commandButton style="display: inline" process="ticketTable" update=":form:ticketEdit"  icon="ui-icon-pencil" value="Editar" oncomplete="PF('ticketEditDialog').show()"  />
                            <p:commandButton style="display: inline" process="ticketTable" update=":form:ticketAsignar"  icon="ui-icon-person" value="Asignar" oncomplete="PF('asignarDialog').show()"  />
                            <p:commandButton style="display: inline" process="ticketTable" update=":form:ticketClose"  icon="ui-icon-closethick" value="Cerrar" oncomplete="PF('closeTicketDialog').show()"  />
                        </f:facet>
                    </p:dataTable>

                    <p:dialog header="Asignar Ticket" widgetVar="asignarDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                        <p:outputPanel id="ticketAsignar" style="text-align:center;">
                            <p:messages autoUpdate="true"/>
                            <h:panelGrid id="asignar-grid" columns="2" cellpadding="5">

                                <h:outputText value="#{mensaje.title}" style="font-weight:bold"/>
                                <h:outputText value="#{ticketController.selectedTicket.titulo}" />

                                <h:outputText value="Asignar a..." style="font-weight:bold"/>
                                <p:selectOneMenu id="asignar-seleccion" value="#{ticketController.nuevoAsignado}" >
                                    <f:selectItems value="#{usuarioController.usuarios}" var="user" itemValue="#{user.username}" />
                                </p:selectOneMenu>
                            </h:panelGrid>
                            <h:commandButton id="button-asignar-ticket" value="Asignar" action="#{ticketController.asignarTicket}"/>
                        </p:outputPanel>
                    </p:dialog>

                    <p:dialog header="Cerrar y evaluar Ticket" widgetVar="closeTicketDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                        <p:outputPanel id="ticketClose" style="text-align:center;">
                            <p:messages autoUpdate="true"/>
                            <h:panelGrid id="close-grid" columns="2" cellpadding="5">

                                <h:outputText value="#{mensaje.title}" style="font-weight:bold"/>
                                <h:outputText value="#{ticketController.selectedTicket.titulo}" />

                                <h:outputText value="Calificación" style="font-weight:bold"/>
                                <p:selectOneRadio id="calificacion-cerrar" value="#{ticketController.evaluacion}">
                                    <f:selectItem itemLabel="Mala" itemValue="Mala" />
                                    <f:selectItem itemLabel="Regular" itemValue="Regular" />
                                    <f:selectItem itemLabel="Buena" itemValue="Buena" />
                                    <f:selectItem itemLabel="Excelente" itemValue="Excelente" />
                                </p:selectOneRadio>

                                <h:outputText value="Comentario" style="font-weight:bold"/>
                                <p:inputTextarea value="#{ticketController.nuevoComentario}" id="cerrar-ticket" />

                            </h:panelGrid>
                            <h:commandButton id="button-cerrar-ticket" value="Cerrar" action="#{ticketController.cerrarTicket}"/>
                        </p:outputPanel>
                    </p:dialog>

                    <p:dialog header="Detalle del Ticket" widgetVar="ticketDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                        <p:outputPanel id="ticketDetail" style="text-align:center;">
                            <p:panelGrid  columns="2" rendered="#{not empty ticketController.selectedTicket}" columnClasses="label,value">

                                <h:outputText value="#{mensaje.codigo}" style="font-weight:bold" />
                                <h:outputText value="#{ticketController.selectedTicket.codigo}" />

                                <h:outputText value="#{mensaje.titulo}" style="font-weight:bold" />
                                <h:outputText value="#{ticketController.selectedTicket.titulo}" />

                                <h:outputText value="#{mensaje.prioridad}" style="font-weight:bold"/>
                                <h:outputText value="#{ticketController.selectedTicket.prioridad}"/>

                                <h:outputText value="#{mensaje.tipo}" style="font-weight:bold"/>
                                <h:outputText value="#{ticketController.selectedTicket.tipo}"/>

                                <h:outputText value="#{mensaje.startdate}" style="font-weight:bold"/>
                                <h:outputText value="#{ticketController.selectedTicket.fechaAperturaDDMMYYYY}"/>

                                <h:outputText value="#{mensaje.creador}" style="font-weight:bold"/>
                                <h:outputText value="#{ticketController.selectedTicket.creador}"/>
                                
                                <h:outputText value="Asignado" style="font-weight:bold"/>
                                <h:outputText value="#{ticketController.selectedTicket.asignado}"/>

                                <h:outputText value="#{mensaje.descripcion}" style="font-weight:bold"/>
                                <h:outputText value="#{ticketController.selectedTicket.descripcion}" />
                            </p:panelGrid>
                            <br/><br/>
                            <p:panelGrid columns="1" rendered="#{not empty ticketController.selectedTicket.comentarios}">
                                <p:dataList value="#{ticketController.selectedTicket.comentarios}" var="c" type="definition">
                                    <f:facet name="header">
                                        Comentarios
                                    </f:facet>
                                    <p:fieldset legend="#{c.usuario} - #{c.fechaAperturaDDMMYYYY}" style="margin-bottom:10px">
                                        <p align="Justify"> &quot;#{c.texto}&quot;</p>
                                    </p:fieldset>
                                </p:dataList>
                            </p:panelGrid>
                        </p:outputPanel>
                    </p:dialog>

                    <p:dialog header="Editar Ticket" widgetVar="ticketEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                        <p:outputPanel id="ticketEdit" style="text-align:center;">
                            <p:messages autoUpdate="true"/>
                            <h:panelGrid id="editar-grid" columns="2" cellpadding="5">

                                <h:outputText value="#{mensaje.title}" style="font-weight:bold"/>
                                <p:inputText value="#{ticketController.selectedTicket.titulo}" id="titulo-edit"/>

                                <h:outputText value="#{mensaje.tipo}" style="font-weight:bold"/>
                                <p:selectOneButton id="tipo-edit" value="#{ticketController.selectedTicket.tipo}">
                                    <f:selectItem itemLabel="Tarea" itemValue="Tarea" />
                                    <f:selectItem itemLabel="Mejora" itemValue="Mejora" />
                                    <f:selectItem itemLabel="Propuesta" itemValue="Propuesta" />
                                    <f:selectItem itemLabel="Error" itemValue="Error" />
                                </p:selectOneButton>

                                <h:outputText value="#{mensaje.prioridad}" style="font-weight:bold"/>
                                <p:selectOneRadio id="prioridad-edit" value="#{ticketController.selectedTicket.prioridad}">
                                    <f:selectItem itemLabel="Trivial" itemValue="Trivial" />
                                    <f:selectItem itemLabel="Menor" itemValue="Menor" />
                                    <f:selectItem itemLabel="Mayor" itemValue="Mayor" />
                                    <f:selectItem itemLabel="Crítica" itemValue="Crítica" />
                                </p:selectOneRadio>


                                <h:outputLabel value="#{mensaje.descripcion}" style="font-weight:bold"/>
                                <p:inputTextarea value="#{ticketController.selectedTicket.descripcion}" id="descripcion-edit" />
                            </h:panelGrid>
                            <h:commandButton id="button-edit" value="Crear" action="#{ticketController.modificarticket}"/>
                        </p:outputPanel>
                    </p:dialog>

                    <p:dialog header="Agregar Comentario" widgetVar="addComentDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                        <p:outputPanel id="ticketAddComment" style="text-align:center;">
                            <p:messages autoUpdate="true"/>
                            <h:panelGrid id="comentario-grid" columns="2" cellpadding="5">

                                <h:outputText value="#{mensaje.title}" style="font-weight:bold"/>
                                <h:outputText value="#{ticketController.selectedTicket.titulo}" />

                                <h:outputText value="Comentario" style="font-weight:bold"/>
                                <p:inputTextarea value="#{ticketController.nuevoComentario}" id="comentario-add" />

                            </h:panelGrid>
                            <h:commandButton id="button-add-comment" value="Comentar" action="#{ticketController.agregarComentario}" />
                        </p:outputPanel>
                    </p:dialog>
                    <p:ajaxStatus style="width:16px;height:16px;">  
                        <f:facet name="start">  
                            <h:graphicImage value="/resources/images/loading.gif" />  
                        </f:facet>  
                        <f:facet name="complete">  
                            <h:outputText value="" />  
                        </f:facet>  
                    </p:ajaxStatus>  
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

