<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>#{mensaje.titulo}</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
        <link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css' />
    </h:head>

    <h:body> 
        <div id="head">
            <h:panelGrid columns="2" cellpadding="10">
                <p:layoutUnit position="west" size="60%" style="text-align: left;" >
                    <ui:insert name="head">
                        <ui:include src="/header.xhtml"/>
                    </ui:insert>
                </p:layoutUnit>

                <p:layoutUnit position="center" style="text-align: right;">
                    <h:panelGrid columns="2" cellpadding="10">
                    <p:panel>#{usuarioController.fullname}</p:panel>   
                    <p:clock  pattern="dd.MM.yyyy hh:mm:ss" />
                    </h:panelGrid>
                </p:layoutUnit>
            </h:panelGrid>
        </div>

        <div id="menu">
            <ui:insert name="menu">
                <ui:include src="/seguro/menu.xhtml"/>
            </ui:insert>
        </div>

        <div id="body">
            <ui:insert name="content"/>
        </div>
        <ui:debug/>
    </h:body>
</html>