<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head><title>IGNORED</title></head>
    <body>
        <ui:composition>
            <div class="menu">
                <h:form>
                    <p:tabMenu activeIndex="#{param.i}">
                    <p:menuitem value="#{mensaje.inicio}" action="#{usuarioController.inicio}"  icon="ui-icon-home">
                        <f:param name="i" value="0" />
                    </p:menuitem>
                    <p:menuitem action="#{usuarioController.creditos}" value="#{mensaje.creditos}"  icon="ui-icon-person">
                        <f:param name="i" value="1" />
                    </p:menuitem>
                    <p:menuitem action="#{usuarioController.ayuda}" value="#{mensaje.ayuda}"  icon="ui-icon-help">
                        <f:param name="i" value="2" />
                    </p:menuitem>
                    <p:menuitem  action="#{navegacionController.configuracion}" value="#{mensaje.configuracion}"  icon="ui-icon-wrench">
                        <f:param name="i" value="3" />
                    </p:menuitem>
                    <p:menuitem action="#{usuarioController.salir}" value="#{mensaje.salir}"  icon="ui-icon-circle-close">
                        <f:param name="i" value="4" />
                    </p:menuitem>
                </p:tabMenu>
                </h:form>
            </div>
        </ui:composition>
    </body>
</html>