<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>#{mensaje.titulo}</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
        <link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css' />
    </h:head>

    <h:body>   
        <div id="head">
            <h:panelGrid cellpadding="10">
                <p:layoutUnit position="west">
            <ui:insert name="head">
                <ui:include src="/header.xhtml"/>
            </ui:insert>
                </p:layoutUnit></h:panelGrid>
        </div>
        
        <div id="menu">
            <h:form id="form-register">
                <p:tabMenu activeIndex="#{param.i}">
                    <p:menuitem action="#{navegacionController.acceder}" value="#{mensaje.login}" icon="ui-icon-key">
                        <f:param name="i" value="0" />
                    </p:menuitem>
                    <p:menuitem action="#{navegacionController.registrarse}" value="#{mensaje.registrarse}" icon="ui-icon-plusthick">
                        <f:param name="i" value="1" />
                    </p:menuitem>
                    <p:menuitem action="#{usuarioController.creditos}" value="#{mensaje.creditos}"  icon="ui-icon-person">
                        <f:param name="i" value="2" />
                    </p:menuitem>
                    <p:menuitem action="#{usuarioController.ayuda}" value="#{mensaje.ayuda}"  icon="ui-icon-help">
                        <f:param name="i" value="3" />
                    </p:menuitem>
                </p:tabMenu>
            </h:form>
                
            
        </div>
        
        <div id="body">
            <ui:insert name="content"/>
        </div>
        <ui:debug/>
    </h:body>
</html>