<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/guess.xhtml"> 
            <ui:define name="content">
                <div id="login">
                    <h:form id="login-form">
                        <p:panel header="#{mensaje.login}">
                            <p:messages autoUpdate="true"/>
                            <h:panelGrid id="grid" columns="2" cellpadding="5">

                                <h:outputText value="#{mensaje.login}" style="font-weight:bold"/>
                                <p:inputText value="#{usuarioController.username}" id="username"/>

                                <h:outputLabel value="#{mensaje.password}" for="password" style="font-weight:bold"/>
                                <p:password value="#{usuarioController.password}" id="password" label="#{mensaje.password}"/>
                            </h:panelGrid>

                            <p:commandButton id="button" value="#{mensaje.login}" action="#{usuarioController.autenticar}"/>

                        </p:panel>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

