<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/guess.xhtml"> 
            <ui:define name="content">
                <div id="registro">
                    <h:form id="form-registro">
                        <p:panel header="#{mensaje.registrarse}"> 
                            <h:panelGrid id="grid-registro" columns="3" cellpadding="5">

                                <h:outputLabel value="#{mensaje.nombre}"  style="font-weight:bold"/>
                                <p:inputText id="nombre" value="#{usuarioController.nombre}" validator="#{usuarioController.validarStringNormal}"/>
                                <p:message for="nombre" />

                                <h:outputLabel value="#{mensaje.apellido}" style="font-weight:bold"/>
                                <p:inputText id="apellido" value="#{usuarioController.apellido}" validator="#{usuarioController.validarStringNormal}"/>
                                <p:message for="apellido" />

                                <h:outputLabel value="#{mensaje.username}" style="font-weight:bold"/>
                                <p:inputText id="username" value="#{usuarioController.username}" validator="#{usuarioController.validarUsername}"/>
                                <p:message for="username" />

                                <h:outputLabel value="#{mensaje.password}" style="font-weight:bold"/>
                                <p:password id="password" value="#{usuarioController.password}" validator="#{usuarioController.validarStringNormal}"
                                feedback="true"
                                promptLabel="Ingrese una contraseña" weakLabel="Débil"
                                goodLabel="Buena" strongLabel="Excelente" />
                                <p:message for="password" />

                                <p:commandButton value="Registrarme" action="#{usuarioController.agregarUsuario}"/>
                            </h:panelGrid>
                        </p:panel>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

